@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$grid-columns: 48;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import
"partials/original",
"partials/breakpoints",
"partials/accordion",
"partials/product",
"partials/summary",
"partials/licences";
