#head {
  width:1000px;
  height:172px;
  background:url(../../images/header.png) top left no-repeat;
}

#main {
  min-height:200px;
  background:url(../../images/page.png) top left repeat-y;
}

#foot {
  width:1000px;
  height:66px;
  background:url(../../images/footer.png) top left no-repeat;
}