<div class="row">
    <h1 class="col-xs-offset-3 h2">Purchase <strong>ANTS Performance Profiler</strong></h1>
</div>

<form class="row basket-form">

    <section>
        <ol class="col-xs-30 col-xs-offset-3 accordion">
            <li>

                <header class="accordion__heading"
                        ng-class="{'accordion__heading--no-underline': main.section1Collapsed}">
                    <h2 class="h4 accordion__heading--display">1. Choose Product Bundle</h2>
                    <button class="btn btn-link pull-right"
                            ng-click="main.selectedProduct ? main.section1Collapsed = !main.section1Collapsed : null"
                            ng-disabled="!main.selectedProduct">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-left': main.section1Collapsed, 'glyphicon-chevron-down': !main.section1Collapsed}"></span>
                    </button>
                </header>

                <div class="accordion__item" collapse="main.section1Collapsed">
                    <div class="row">
                        <fieldset class="col-xs-24 basket-form__container">
                            <div class="radio" ng-repeat="product in main.products">
                                <label class="basket-form__label">
                                    <input type="radio"
                                           name="productChoice"
                                           ng-model="main.selectedProduct"
                                           ng-value="product"
                                           ng-change="main.updateSelectedProduct()">
                                    {{product.name}}
                                </label>
                            </div>
                            <button class="btn btn-primary"
                                    ng-click="main.section1Collapsed = !main.section1Collapsed; main.section2Collapsed = !main.section2Collapsed"
                                    ng-disabled="!main.selectedProduct">
                                Next
                            </button>
                        </fieldset>

                        <div class="col-xs-24 product-details" ng-if="main.selectedProduct">
                            <h2 class="h5" ng-bind="main.selectedProduct.name"></h2>

                            <p class="product-details__image">
                                <small ng-bind="main.selectedProduct.name + ' image'"></small>
                            </p>
                        </div>
                    </div>
                </div>

            </li>

            <li>

                <header class="accordion__heading"
                        ng-class="{'accordion__heading--no-underline': main.section2Collapsed}">
                    <h2 class="h4 accordion__heading--display">2. How Many Licenses</h2>
                    <button class="btn btn-link pull-right"
                            ng-click="main.section2Collapsed = !main.section2Collapsed"
                            ng-disabled="!main.selectedProduct">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-left': main.section2Collapsed, 'glyphicon-chevron-down': !main.section2Collapsed}"></span>
                    </button>
                </header>

                <div class="accordion__item" collapse="main.section2Collapsed">

                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-46">

                            <table class="table licenses">

                                <thead class="licenses__header">
                                <tr>
                                    <th ng-bind="main.selectedProduct.name"></th>
                                    <th>Unit Cost</th>
                                    <th>Discount</th>
                                    <th>Cost per user</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>

                                <tbody class="licenses__body">
                                <tr ng-repeat="pack in main.selectedProduct.userLicensePacks">
                                    <td>{{pack.amount}} User License Pack</td>
                                    <td ng-bind="pack.unitCost | currency:'$'"></td>
                                    <td ng-bind="pack.discountPack + '%'"></td>
                                    <td ng-bind="pack.costPerUser | currency:'$'"></td>
                                    <td class="form-inline">
                                        <div class="form-group">
                                            <label class="sr-only" for="unit1Quantity">Quantity</label>
                                            <input id="unit1Quantity"
                                                   type="number"
                                                   class="input-xs licenses__body--input"
                                                   min="0"
                                                   max="4"
                                                   ng-model="pack.userQuantity"
                                                   ng-change="pack.updateQuantity()"
                                                   placeholder="0">
                                        </div>
                                    </td>
                                    <td class="licenses__body--total"
                                        ng-bind="pack.userSubTotal || 0 | currency:'$'"></td>
                                </tr>
                                </tbody>

                            </table>

                            <button class="btn btn-primary"
                                    ng-click="main.section2Collapsed = !main.section2Collapsed; main.section3Collapsed = !main.section3Collapsed"
                                    ng-disabled="!main.selectedProduct || !main.userQuantity">
                                Next
                            </button>
                        </div>
                    </div>

                </div>

            </li>
            <li>

                <header class="accordion__heading">
                    <h2 class="h4 accordion__heading--display">3. Support & Upgrades</h2>
                    <button class="btn btn-link pull-right"
                            ng-click="main.selectedProduct ? main.section3Collapsed = !main.section3Collapsed : null"
                            ng-disabled="!main.selectedProduct || !main.userQuantity">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-left': main.section3Collapsed, 'glyphicon-chevron-down': !main.section3Collapsed}"></span>
                    </button>
                </header>

                <div class="accordion__item accordion__item--last-item"
                     collapse="main.section3Collapsed || !main.userQuantity">
                    <div class="row">
                        <div class="col-xs-24 basket-form__container">
                            <table>
                                <tr ng-repeat-start="support in main.selectedProduct.userSupport" ng-if="$first">
                                    <td class="radio basket-form__radio-container">
                                        <label class="basket-form__label--smaller">
                                            <input type="radio" name="supportChoice"
                                                   ng-model="main.chosenSupport"
                                                   value="0"
                                                   ng-change="main.updateSupport()">
                                            No Support & Upgrades
                                        </label>
                                    </td>
                                    <td>
                                        <p class="basket-form__label--smaller text-right"><strong>Cost per user</strong>
                                        </p>
                                    </td>
                                </tr>
                                <tr ng-repeat-end="">
                                    <td class="radio basket-form__radio-container">
                                        <label class="basket-form__label--smaller">
                                            <input type="radio" name="supportChoice"
                                                   ng-model="main.chosenSupport"
                                                   ng-value="support.amount"
                                                   ng-change="support.updateSupport()">
                                            {{support.year}} Year{{support.year > 1 ? 's' : ''}} Support & Upgrades
                                        </label>
                                    </td>
                                    <td>
                                        <p class="basket-form__label--smaller text-right" ng-bind="support.amount |
                                        currency:'$'"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary"
                                                ng-disabled="!main.chosenSupport">
                                            Checkout now
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-24 product-details" ng-if="main.selectedProduct">
                            <h2 class="h5" ng-bind="main.selectedProduct.name"></h2>

                            <p class="product-details__image">
                                <small ng-bind="main.selectedProduct.name + ' image'"></small>
                            </p>
                        </div>

                    </div>
                </div>

            </li>

        </ol>
    </section>

    <aside class="col-xs-13 summary">
        <h2 class="h5">Basket Summary</h2>
        <table class="table summary-table">
            <thead>
            <tr>
                <th colspan="3" ng-bind="main.selectedProduct.name ? main.selectedProduct.name : 'No product selected'"
                    class="summary-table__heading"></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-if="main.userQuantity">
                <td ng-bind="main.userQuantity"></td>
                <td>{{main.userLicense}} User License Pack</td>
                <td class="summary-table--align-right" ng-bind="main.userSubTotalUnitcost | currency:'$'"></td>
            </tr>
            <tr ng-if="main.userQuantity && main.userDiscount">
                <td class="summary-table__cell"></td>
                <td class="summary-table__cell">Discount ({{main.userDiscount}}%)</td>
                <td class="summary-table__cell summary-table--align-right">-{{main.userDiscountAmount | currency:'$'}}
                </td>
            </tr>
            <tr ng-if="main.chosenSupport != 0 && main.userSubTotalUnitcost">
                <td></td>
                <td>{{main.supportYear}} years support</td>
                <td class="summary-table--align-right" ng-bind="main.supportYearSubtotal | currency:'$'"></td>
            </tr>

            <tr class="summary-table__total">
                <td class="summary-table__total--underlined" colspan="2">Total</td>
                <td class="summary-table__total--bold summary-table__total--underlined summary-table--align-right"
                    ng-bind="main.updateTotal() | currency:'$'"></td>
            </tr>

            </tbody>
        </table>
    </aside>

</form>